*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Space Mono', monospace;
}
#image{
    max-width: 600px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
#heading{
    color: #333;
    font-family: Space Mono;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2.24px;    
    width: 589px;
}
#info{
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.84px;
    width: 381px;
}
#btn{
    width: 216px;
    height: 68px;
    background-color: #333;
    color: #FFF;
    letter-spacing: -0.49px;
    font-size: 14px;
    font-weight: 700;
}
/* footer starts here  */
footer{
    background-color: #4F4F4F;
    margin-top: 180px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: small;
    color: #FFF;
}
/* responsiveness media query starts here  */
@media screen and (max-width:625px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .info-container{
        display: flex;
        flex-direction: column;
    }
}
